* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #e7e7e7;
}

.body {
  margin: 5vw;
  border-radius: 40px;
}

.Logo {
  position: absolute;
  top: 8%;
  left: 8%;
}

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  border-radius: 40px;
}

.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 80vh;
  width: 90vw;
}

.left {
  background-image: url(/src/Images/left-panel-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
  color: white;
  text-transform: capitalize;
  font-family: "syne", sans-serif;
  font-size: 2vw; /* Adjust font size relative to viewport width */
  padding: 2vw; /* Adjust padding relative to viewport width */
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .body {
    margin: 0;
    border-radius: 0;
  }

  .loginPage {
    margin-top: 0;
  }

  .Login {
    flex-direction: column;
    height: 50vh;
    width: 100%;
  }

  .Logo {
    top: 1vw;
    left: 1vw;
    width: 10vw;
  }

  .left {
    height: 45vh;
    width: 100%;
    font-size: 3vw;
    padding: 3vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .loginField {
    padding: 5vw;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginField {
  height: 60vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2vw;
  margin: 3vw;
}

.rememberMe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 1vw; */
}
